       <table>
            <td>Account_name</td>
            <td>Account_number</td>
            <td>Customer</td>
            <td>balance</td>
            <td>wallet</td>
            <td>account_type</td>
    
            {% for Account in accounts %}
            <tr>
                <td>{{Account.account_name}}</td>
                <td>{{Account.account_number}}</td>
                <td>{{Account.customer}}</td>
                <td>{{Account.balance}}</td>
                <td>{{Account.wallet}}</td>
                <td>{{Account.account_type}}</td>
            </tr>
            {% endfor %}
        </table>
  