<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Customers List</title>
</head>
<body style="background-color: rgb(221, 215, 216);">
    <table class="table" style="height: 10rem;margin: 20px; width: 60%; margin-left: 20%; margin-top: 10%; border: 10px solid rgb(251, 250, 250); " >
            <td style="color: black; background-color: white; font-size: 30px; text-align: center;  ">Name</td>
            <td style="color: black;font-size: 30px;background-color: white;  text-align: center;  ">Email</td>
            <td style="color: black; background-color: white; font-size: 30px;text-align: center;   ">age</td>
            <td style="color: black; background-color: white;font-size: 30px; text-align: center;  ">Profile</td>
            <td style="color: black; background-color: white;font-size: 30px; text-align: center;  ">Edit profile>
        </th>
        <tr> {%for Customer in customers%}</tr>
                <td style="color: white; background-color: black; text-align: center;"   >{{Customer.first_name}}</td>
                <td style="color: white; background-color: black; text-align: center; " >{{Customer.email}}</td>
                <td style="color: white; background-color: black; text-align: center; " >{{Customer.age}}</td>
                <td  style="color: white; background-color: black; text-align: center;"  ><a href="{% url 'customer-profile' id= customer.id % }"> profile</a></td>
                <td style="color: white; background-color: black; text-align: center;"  ><a href="{% url 'edit_customer' id= customer.id % }"> Edit profile</a></td>
            {%endfor%}
        </table> 
        
        </body>
        </html>



<!-- <table>
    
    <td>Firstname</td>
    <td>last_name</td>
    <td>profile</td>
    </th>
    {% for Customer in customers %}
    <tr>
    <td>{{Customer.first_name}}</td>
    <td>{{Customer.last_name}}</td>
    <td><a href="{% url 'customer_profile'}" id=customer.id%> view profile</td>

    </tr>
        {% endfor %}
</table> -->