<table>
    <td>transaction_ref</td>
    <td>wallet</td>
    <td>Date_and_Time</td>
    <td>Transaction_amount</td>
    <td>Transaction_charge</td>
    <td>Receipt</td>
    
    
    {% for Transaction in transactions %}
    <tr>
        <td>{{Transaction.transaction_ref}}</td>
        <td>{{Transaction.wallet}}</td>
        <td>{{Transaction.date_and_time}}</td>
        <td>{{Transaction.transaction_amount}}</td>
        <td>{{Transaction.transaction_charge}}</td>
        <td>{{Transaction.receipt}</td>
    </tr>
    {% endfor %}
</table>